/**
Toygan Sevim
game_styles.css
This is the css sheet for the game page.
/home route

 */
/*background colors*/
.bg-purple {
    background-color: rebeccapurple;
}

.bg-pink {
    background-color: hotpink;
}

.bg-orange {
    background-color: darkorange;
}

/*shadow cards*/
.shadow-nohover {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.shadow {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.shadow:hover {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

/*CARD SIZES AND CONTENTS*/

/*TABLE CONTENT*/
.table .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 0px !important;
}



td {
    background-color: rgba(255, 255, 255, 0.2);
}

th {
    text-align: center;
}

/*medi queries for the lower breakpoints*/
@media (max-width: 768px) {
    /*data tables*/
    td {
        padding: .15rem !important;
        vertical-align: middle !important;
        font-size: 0.5rem !important;
        font-weight: 800 !important;
        letter-spacing: 0px !important;

    }

    .col-3.bg-primary {
        padding: 0px !important;
    }

    /*headers*/
    th {
        padding: .15rem;
        vertical-align: middle;
        border-top: 1px solid #dee2e6;
        font-size: 0.5rem !important;
        font-weight: 800 !important;
        letter-spacing: 0px !important;

    }
}

/**
    Middle
 */
@media (min-width: 768px) and (max-width: 1200px) {
    td {
        padding: 2px !important;
        font-size: .8em !important;
        font-weight: bolder !important;
    }

    th {
        font-size: .6em !important;
        letter-spacing: 1px !important;
        text-align: center;
        padding: 0px !important;
        padding-top: 0.6rem !important;
        padding-bottom: .6rem !important;
        font-size: 0.8rem !important;
        text-align: center;

    }
}

td a {
    color: white !important;
    text-decoration: none !important;
}

.medal {
    height: 30px;
    width: 30px;
}

/**
Leader borrd
 */
#leaderboard {
    /*background-color: blue;*/
    border-image-repeat: round;
    border-image-source: url(images/star.png);
    border-image-slice: 10;
}




