body, html {
    height: 100%;
}
.bg {
    /* The image used */
    /*background-image: url("../images/wood_background.jpg");*/
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background: linear-gradient(to top left, #2097FE, #05FFA4) no-repeat center;
    background-size: cover;
}

.user-login-box {
    opacity: .5;
}

#head {
    /*background: inherit;*/
    background: rgba(255, 255, 255, 0.16);
    box-shadow: inset 0 3px 8px 6px rgba(255, 255, 255, 0.15);
}

img {
    max-width: 100%;
    height: auto;
}

img.logo-control {
    width: 50%;
    height: 50%;

}
form {
    width: 100%
}

input#username, input#email, input#pass, input#repeat-pass{
    background: rgba(255, 255, 255, 0.16);
    max-width: 100%;
}

#body {
    color: rgba(255, 255, 255, 0.80);
}


.navbar {
    background: rgba(255, 255, 255, 0.5);
}

#foot {
    background: rgba(255, 255, 255, 0.16);
    box-shadow: inset 0 -3px 8px 6px rgba(255, 255, 255, 0.15);
}

a#play-btn:hover {

}